.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  width: 25%;
}

.svg {
  fill: white;
  width: 100%;
  transition: 300ms;
}

.svg:hover {
  fill: #ddd;
  transform: scale(1.05);
}
