.social-links__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-links__item {
  width: 25%;
}

.social-links__svg {
  fill: white;
  width: 100%;
  transition: 300ms;
}

.social-links__svg:hover {
  fill: #ddd;
  transform: scale(1.05)
}