.contact {
  padding: 7rem 0;
  max-width: 500px;
}

.contact__form {
  margin-top: -0rem;
  display: flex;
  flex-direction: column;
}

.contact__label {
  color: white;
}

.contact__label + .contact__label {
  margin-top: 1rem;
}

.contact__input,
.contact__textarea {
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.contact__submit {
  align-self: center;
  background: #00add8;
  color: white;
  border: none;
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 300ms;
}

.contact__submit:hover {
  opacity: 90%;
}
