.about {
  padding: 5rem 0;
}

.about__text-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

.about__text {
  text-align: center;
  color: white;
  line-height: 1.5rem;
}

.about__text + .about__text {
  margin-top: 1rem;
}
