.about {
  padding: 5rem 0;
  background: rgba(0, 0, 0, 0.5);
}

.about__text-container {
  max-width: 600px;
}

.about__text {
  text-align: center;
  color: white;
  line-height: 1.5rem;
}

.about__text + .about__text {
  margin-top: 1rem;
}
