.projects {
  padding: 5rem 0;
}

.projects__list {
  list-style: none;
  display: grid;
  gap: 2rem;
}

@media (min-width: 700px) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .projects__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
