.about {
  padding: 7rem 0;
  background: rgba(0, 0, 0, 0.5);
}

.about__text-container {
  max-width: 600px;
  opacity: 0;
  transition: 500ms;
}

.about__text-container.animate {
  opacity: 1;
}

.about__text {
  font-weight: 300;
  text-align: center;
  color: white;
  line-height: 1.7rem;
}

.about__text + .about__text {
  margin-top: 1rem;
}

.about__link {
  color: #00add8;
  font-weight: 400;
}
