.contact {
  padding: 7rem 0;
  max-width: 500px;
}

.contact__details {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  transform: translateX(50vw);
  opacity: 0;
  transition: 300ms ease;
}

.contact__details.animate {
  transform: translateX(0);
  opacity: 1;
}

.contact__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 300ms;
}

.contact__link:hover {
  transform: scale(1.05);
}

.contact__link + .contact__link {
  margin-top: 2rem;
}

.contact__phone {
  margin-top: 1rem;
}

.contact__icon {
  flex-shrink: 0;
  width: 40px;
  fill: #00add8;
  fill: white;
  margin-bottom: 0.25rem;
}

.contact__link {
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
}

@media (min-width: 370px) {
  .contact__link {
    font-size: 1rem;
  }
}

@media (min-width: 450px) {
  .contact__details {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
  }
  .contact__link {
    flex-direction: row;
    font-size: 1rem;
  }

  .contact__icon {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
