@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}