.project-page {
  margin-top: 7rem;
  margin-bottom: 6rem;
}

.project-page__heading {
  color: white;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.project-page__heading::after {
  content: '';
  width: 50%;
  height: 3px;
  background: #00add8;
  position: absolute;
  left: 0;
  bottom: -0.75rem;
}

.project-page__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-left: -0.5rem;
}

.project-page__tag {
  margin: 0.5rem;
}

.project-page__img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.project-page__features,
.project-page__skills {
  color: white;
  margin-bottom: 1rem;
}

.project-page__sub-heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-page__list {
  margin-left: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.project-page__btns {
  display: flex;
}

.project-page__btn {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  transition: 300ms;
  cursor: pointer;
}

.project-page__btn:hover {
  transform: scale(1.05);
}

.project-page__btn--live {
  background: #0061d2;
}

.project-page__btn--code {
  background: #444;
  margin-left: 0.5rem;
}

@media (min-width: 700px) {
  .project-page__main-content {
    display: flex;
    justify-content: space-between;
  }

  .project-page__img,
  .project-page__text {
    width: 50%;
  }

  .project-page__text {
    margin-left: 2rem;
  }
}
